@using TicketingSystem.Business.Entities
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

    @Html.DropDownList("TicketSystemType", ViewBag.EnumList as SelectList, "Select")
    @*@Html.DropDownList("TicketSystemType",
                    new SelectList(Enum.GetValues(typeof(TicketSystemTypeEnum))),
                    "Select System",
                    new { @class = "form-control" })*@
    <input type="submit" id="submit" value="Submit" />


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $("#submit").click(function () {
            var id = $("#TicketSystemType").val();
            console.log(id);
            //alert(id);
    $.ajax({
      type: "POST",
      url: '@Url.Action("ReDirectToTicketSystem", "Request")',
      data: {ticketSystemType: id},
      //contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(msg) {
        // Replace the div's content with the page method's return.
        //$("#Result").text(msg.d);
      }
    });
  });
    });

</script>

